<h2>{{@title}}</h2>

<ul>
    {{#each @people as |person|}}
        <li>
            {{!-- fn helper passes the person as an argument --}}
            <button {{ on 'click' (fn this.showPerson person) }} class="showPerson">{{person}}</button>
        </li>
    {{/each}}
</ul>